.btn .btn-outline:hover, .btn.btn-outline:focus {
    background: hsl(200, 50%, 90%);
}

.btn + .btn {
    margin-left: .25rem;
}

main, .sidebar {
    /* note: 2 different types of containers - size & inline-size; */
    container-type: inline-size;
}

@media (max-width: 80px) {
    .card {
        flex-direction: column;
    }

    .card-header {
        width: 100%
    }
}